@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Catamaran:wght@800&family=IBM+Plex+Sans+Thai+Looped:wght@200;300;400&display=swap');

*{
   /* box-sizing: border-box;*/
}

#TusProductosh2{
    position: relative;
    top: 80px;
}
.ProductoCarro{
    background-color: rgb(235, 242, 250);
    border-width: 5px;
    position: relative;
    top: 50px;
    left: 15px;
    width: 100%;
    height: 200px;
}

[tipo="textos"]{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Catamaran';
    color: rgb(68, 68, 68);

}
span{
    position: relative;
    top: 25px;
    font-size: larger;
}

.Imagen2 {
    position: relative;
    width: auto !important;
    height: 20px !important;
}

[type="submit"]{
    background-color: rgb(103, 148, 54);
    width: 150px;
    position: relative;
    top:135px;
    right:-8px;
    color:rgb(235, 242, 250);
}
[type="submit"]:hover{
    background-color: rgb(66, 122, 161);
    border-color: rgb(103, 148, 54);
}