@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Catamaran:wght@800&family=IBM+Plex+Sans+Thai+Looped:wght@200;300;400&display=swap');

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

/*Popup*/
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    visibility: hidden;
    z-index: 100;
    
}
.overlay.active{
    visibility: visible;
}

.Popup{
    background-color: rgba(45, 71, 99,.9);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius:3px;
    font-family: sans-serif/*cambiar*/;
    font-stretch: expanded;
    position: relative;
    left: 150px;
    padding: 20px;
   

}
.Popup h3{
   color:rgb(235, 242, 250);
   font-size: 30px; 
   font-weight: bold;
}
.Popup p{
    color: rgb(235, 242, 250);
 
 }

.Popup .btn-cerrar,.btn-sig{
    font-size: 16px;
    line-height: 16px;
    display:inline;
    text-align:right;
    color: rgb(235, 242, 250);
    transition: .3s ease all;
    background-color: rgb(103, 148, 54);
    
    

}

.Popup .btn-cerrar:hover,.btn-sig:hover{
    background-color: rgb(66, 122, 161);
    border-color: rgb(103, 148, 54);

}
/*animaciones*/