*{
    box-sizing: border-box;
}

.titleProduct{
    
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Righteous';
    color: rgb(68, 68, 68);
    font-weight: bolder;
    line-height: 1;
    text-align:left;
  }
  .Descripcion{
    margin-top: 250px;
    font-size: 30px;
    font-family: 'Cabin';
    color: rgb(68, 68, 68);
    position: relative;
    font-weight: 500;
    top:150px;
    line-height: 1;
    text-align:left;
    
  }
  .Producto{
     position: relative;
     top: 145px;
  }

.Imagen{
    width: auto;
    height: 400px;

}
[type="submit"]{
    background-color: rgb(103, 148, 54);
    display: flex;
    width: 250px;
    height: 80px;
    position: relative;
    top:-90px;
    right:-830px;
    color:rgb(235, 242, 250);
    font-size: larger;
}
[type="submit"]:hover{
    background-color: rgb(66, 122, 161);
    border-color: rgb(103, 148, 54);
}

